div {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#canvas {
  background-color: black;
  border: 2px solid red;
}
.volverAJugar {
  margin-top: 10px;
  text-decoration: none;
  color: red;
}
